
src/.ipynb_checkpoints/multi-class classification-checkpoint.ipynb
src/.ipynb_checkpoints/binary classification-checkpoint.ipynb
src/productCategoryClassifier.zip
src/sentimentClassifier.zip
src/.ipynb_checkpoints/image classification-checkpoint.ipynb
